*{
  background:#1A213F;
  color:#363636;
}
/**********
    header
**********/

header {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top:2%;
  font-size: 18px;
}

header nav{
  width:90%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

a, ul{
  text-decoration: none;
  font-family: 'Berthold Akzidenz Grotesk', sans-serif;
  color:#FBF7F2;

}

header nav ul {
  width:15%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/**********
    main
**********/
main{
  width:80vw;
  margin-left:10vw;
  margin-top:4%;
  display:flex;
  /* border:1px solid yellow; */
  flex-direction: column;
}

.main-container{
  /* border:6px solid pink; */
  display:flex;
  align-items: center;

}
/**************
    left side
****************/

.left-side{
  width:50%;
  height:100%;
  /* border:5px solid white; */
  display:flex;
  justify-content: flex-start;
}

.hello p{
  font-family: 'Berthold Akzidenz Grotesk', sans-serif;
  font-weight: 450;
  color:rgba(255, 255, 255, 0.329);
  font-size:25px;
  position: absolute;
}

.first-bloc{
width:70%;
 display:flex;
 margin-top:10%;
 /* border:3px solid greenyellow; */
 z-index: 9999;
}
.first-bloc img{
  width:100%;
}

.second-bloc{
  position: absolute;
  margin-left:20%;
  width:30%;
  /* border:3px solid red; */
  display:flex;
  justify-content: flex-end;
}

.second-bloc img{
  width:100%;
}




/**************
    right side
****************/

.right-side{
  width:50%;
  height: 70vh;
  /* border:2px solid blue; */
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.right-side h1{
  font-family: 'Tiempos Headline';
  font-weight: 600;
  font-size: 60px;
  color:white;
  line-height: 120px;
  z-index: 9999999;
  background:none;
  
}

.right-side p {
  color:white;
  font-family: 'Berthold Akzidenz Grotesk', sans-serif;
}

.right-side img{
  width:22%;
  animation: rotate-text linear 8s infinite;
  cursor: pointer;
}

@keyframes rotate-text{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

/**************
   info bellow
****************/
.info{
  /* border:solid red 2px; */
  display: flex;
  padding-bottom:10%;
}
.about-container{
  width:40vw;
  margin-left:10vw;
  margin-top:15%;
}

.about-container p{
color:white;
font-family: 'Berthold Akzidenz Grotesk', sans-serif;
font-size: 16px;
line-height: 24px;
padding-bottom: 5%;
}

.about-container h2{
  font-family: 'Tiempos Headline';
  font-weight: 600;
  font-size: 30px;
  color:white;
  padding-bottom: 5%;
}

.about-img{
  width:40vw;
  display:flex;
  justify-content: flex-end;
}

.about-img img{
  margin-top:35%;
  width:85%;
}